<br>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                {{#each fieldList.fields as |field|}}
                <th>
                    {{field}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each dataList.records as |rec indexes|}}
            <tr>
                {{#each rec as |r|}}
                <td>
                    {{r}}
                </td>
                {{/each}}
            </tr>
            {{else}}
            <p>No Elements</p>
            {{/each}}
            <tr>
                {{#each fieldList.fields as |field index|}}
                <td>
                    {{input-fields index=index indexes=indexes createRecord=(action 'createRecord')}}
                </td>
                {{/each}}
            </tr>
        </tbody>
    </table>
</div>
<br>
<div class="text-center">
    <a id="add_row" class="btn btn-default text-center" {{action 'addRecord'}}>Add Row</a>
</div>
<br>
