<br>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                {{#each fieldList.fields as |field|}}
                <th>
                    {{field}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each dataList.records as |rec index1|}}
            <tr>
                {{#each rec as |recordValue index|}}
                <td>
                    {{entry-input recordValue=recordValue index=index index1=index1 deleteRecs=(action 'deleteRecs') editRecs=(action 'editRecs')}}
                </td>
                {{/each}}
            </tr>
            {{else}}
            <p>No Elements</p>
            {{/each}}
            <tr>
                {{#each fieldList.fields as |field index|}}
                <td>
                    {{input-component index=index setRecordValue=(action 'setRecordValue')}}
                </td>
                {{/each}}
            </tr>
        </tbody>
    </table>
</div>
<br>
<div class="text-center">
    <a id="add_row" class="btn btn-default text-center" {{action "saveToDS"}}>Add Row</a>
</div>
<br>
