<div class="section">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <button {{action 'newCSV'}} class="btn btn-default">New</button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <button {{action 'existingCSV'}} class="btn btn-default">Existing</button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                {{#if isVisible}}
                    <button {{action 'showLoadCSVButtons'}} class="btn btn-default">Load from System</button>
                {{else}}
                    {{input type="file" id="file-up" value=fPath}}
                    <button {{action 'loadCsv'}} class="btn btn-default">Load</button>
                {{/if}}
            </div>
        </div>
    </div>
</div>
<div class="section">
</div>
{{outlet}}